* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  border: 1px solid black;
  height: 10px;
  width: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#boxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 160px;
}