@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--ctp-mocha-text);
	background: var(--ctp-mocha-base);
}

#etchsketch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  border: 1px solid #6c7086;
}

#boxcontainer {
  border: 1px solid #6c7086;
  display: grid;
  width: 80dvw;
  height: 80dvw;
  margin-top: 20px;
  margin-bottom: 40px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.slidercontainer {
  display: flex;
  flex: 1;
  accent-color: #74c7ec;
}

#slider {
  flex: 1;
  margin: 0 20px 0 20px;
}

#output {
  padding-top: 4px;
}

#resetbutton {
  background-color: #313244;
  color: #cdd6f4;
  border: 1px solid #45475a;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  font-weight: bolder;
}

.hoverbox {
  background-color: #74c7ec;
}

h1, p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  color: #a6adc8;
  margin: 10px;
}

h1 {
  margin-top: 20px;
}

@media only screen and (min-width: 1200px) {
  #buttons {
    width: 70dvh;
  }
  #boxcontainer {
    width: 70dvh;
    height: 70dvh;
  }
}