* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.square {
  border: 1px solid black;
  height: 1rem;
  width: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.square:hover {
  background-color: black;
}

#boxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 16rem;
}